<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fornecedor</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Loading Overlay -->
    <script
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

    <!-- Axios JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="wrapper row">
        <!-- Menu lateral -->
        <div class="col-md-2" style="margin-right: 0%;">
            <nav id="sidebar" class="bg-dark col-md-12">
                <div class="sidebar-header pt-2" style="text-align: center;">
                    <h3 style="color: #fafafa;">Menu</h3>
                </div>

                <ul class="list-unstyled components">
                    <li><a href="importacao.html">Importação</a></li>
                    <li>
                        <a href="#acompanhamento" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Acompanhamento</a>
                        <ul class="collapse list-unstyled" id="acompanhamento">
                            <li><a href="seguradora.html">Seguradora</a></li>
                            <li><a href="representante.html">Representante</a></li>
                            <li><a href="patrocinio.html">Patrocinio</a></li>
                            <li><a href="emissor.html">Emissor</a></li>
                            <li><a href="sinistro.html">Sinistros</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#financeiro" data-toggle="collapse" aria-expanded="false"
                            class="dropdown-toggle">Financeiro</a>
                        <ul class="collapse list-unstyled" id="financeiro">
                            <li><a href="fechamento.html">Fechamento</a></li>
                            <li><a href="categoria.html">Categoria</a></li>
                            <li><a href="centroCusto.html">Centro de Custo</a></li>
                            <li><a href="cliente.html">Cliente</a></li>
                            <li><a href="contaBancaria.html">Conta Bancária</a></li>
                            <li class="active"><a href="fornecedor.html">Fornecedor</a></li>
                            <li><a href="lancamento.html">Lançamento</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Miolo -->
        <div class="col-md-10 pl-4" id="fornecedorVue" v-cloak>
            <div class="row pl-4">
                <div class="col-sm-5 pr-1">
                    <div class="card">
                        <div class="card-header">
                            Cadastrar Fornecedor
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nome</label>
                                    <input type="text" class="form-control" v-model="nome">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-sm-3 pr-0">
                                    <button class="btn btn-primary" @click="ValidarDados()">
                                        {{(!id) ? `Cadastrar` : `Editar`}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 pl-1">
                    <div class="card pr-2">
                        <div class="card-header">Buscar Fornecedor</div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover table-striped table-sm">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center">Nome</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="fornecedor in arrayFornecedor">
                                        <td>{{fornecedor.Nome}}</td>
                                        <td>
                                            <button class="btn btn-primary"
                                                @click="PreencherCampos(fornecedor.Id)">Editar</button>
                                            <button class="btn btn-danger"
                                                @click="Excluir(fornecedor.Id)">Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/fornecedor.js"></script>

</html>