<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script
    src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<style>
    [v-cloak] {
        display: none;
    }
</style>

<div id="seguradoraVue" v-cloak>
    <div class="row p-3">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Cadastrar seguradora
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Nome</label>
                            <input type="text" class="form-control" v-model="nome">
                        </div>
                        <div class="col-md-6">
                            <label>CNPJ</label>
                            <input type="text" class="form-control" v-model="cnpj">
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-sm-3 pr-0">
                            <button class="btn btn-primary" @click="ValidarDados()">
                                {{(!id) ? `Cadastrar` : `Editar`}}
                            </button>
                        </div>
                        <div class="col-sm-6 pl-0">
                            <input type="checkbox" v-model="antecipacao" v-model="antecipacao">
                            <label style="padding-top: 8px; padding-left: 3px;">
                                Controla antecipacão?
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">Buscar seguradora</div>
                <div class="card-body">
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Nome</th>
                                <th class="text-center">CNPJ</th>
                                <th class="text-center">Antecipacão</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="seguradora in arraySeguradora">
                                <td>{{seguradora.Nome}}</td>
                                <td>{{seguradora.CNPJ}}</td>
                                <td>{{seguradora.Antecipacao}}</td>
                                <td>
                                    <button class="btn btn-primary"
                                        @click="PreencherCampos(seguradora.Id)">Editar</button>
                                    <button class="btn btn-danger" @click="Excluir(seguradora.Id)">Excluir</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../js/seguradora.js"></script>