<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sinistro</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <!-- JQuery -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- Loading Overlay -->
    <script
        src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>

    <!-- Axios JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body style="overflow-x: hidden;">
    <div class="wrapper row">
        <!-- Menu lateral -->
        <div class="col-md-2 bg-dark" style="margin-right: 0%;">
            <nav id="sidebar" class="bg-dark pr-0 pl-2">
                <div class="sidebar-header pt-2" style="text-align: center;">
                    <h3 style="color: #fafafa;">Menu</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="importacao.html" style="color: #fafafa;">
                            Importação
                        </a>
                    </li>
                    <li>
                        <a href="#acompanhamento" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                            style="color: #fafafa;">
                            Acompanhamento
                        </a>
                        <ul class="collapse list-unstyled" id="acompanhamento">
                            <li style="padding-left: 1em;">
                                <a href="seguradora.html" style="color: #fafafa;">
                                    Seguradora
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="representante.html" style="color: #fafafa;">
                                    Representante
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="patrocinio.html" style="color: #fafafa;">
                                    Patrocinio
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="emissor.html" style="color: #fafafa;">
                                    Emissor
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="sinistro.html" style="color: #fafafa;">
                                    Sinistros
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#financeiro" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"
                            style="color: #fafafa;">
                            Financeiro
                        </a>
                        <ul class="collapse list-unstyled" id="financeiro">
                            <li style="padding-left: 1em;">
                                <a href="fechamento.html" style="color: #fafafa;">
                                    Fechamento
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="categoria.html" style="color: #fafafa;">
                                    Categoria
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="centroCusto.html" style="color: #fafafa;">
                                    Centro de Custo
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="cliente.html" style="color: #fafafa;">
                                    Cliente
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="contaBancaria.html" style="color: #fafafa;">
                                    Conta Bancária
                                </a>
                            </li>
                            <li style="padding-left: 1em;">
                                <a href="fornecedor.html" style="color: #fafafa;">
                                    Fornecedor
                                </a>
                            </li>
                            <li style="padding-left: 1em;"><a href="lancamento.html" style="color: #fafafa;">
                                    Lançamento
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Miolo -->
        <div id="sinistroVue" class="col-sm-10" v-cloak>
            <!--Datas-->
            <div class="row">
                <div class="col-sm-3">
                    <label>Data inicial</label>
                    <input type="date" class="form-control" v-model="form.dtInicial">
                </div>
                <div class="col-sm-3">
                    <label>Data final</label>
                    <input type="date" class="form-control" v-model="form.dtFinal">
                </div>
                <div class="col-sm-2">
                    <label>Tipo de data</label>
                    <select class="form-control" v-model="form.tipoData">
                        <option value="1">Emissão</option>
                        <option value="2">Envio seguradora</option>
                        <option value="3">Previsão de pagamento</option>
                        <option value="4">Pagamento</option>
                        <!--ND Sancor-->
                        <option value="5">Remessa banco</option>
                        <option value="6">Email WTA</option>
                        <!--Reembolso-->
                        <option value="7">Ref Relacão</option>
                        <option value="8">Prazo para pagamento</option>
                        <option value="9">Ocorrencia</option>
                        <option value="10">Recebimento</option>
                    </select>
                </div>
            </div>
            <!--Clientes-->
            <div class="row">
                <div class="col-md-3">
                    <label>Representante</label>
                    <select id="ddlRepresentante" class="form-control" v-model="form.representante">
                        <option value="0">Selecione</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Seguradora</label>
                    <select id="ddlSeguradora" class="form-control" v-model="form.seguradora">
                        <option value="0">Selecione</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label>Importação</label>
                    <input type="text" class="form-control" v-model="form.importacao">
                </div>
            </div>
            <!--Segurado-->
            <div class="row">
                <div class="col-md-2">
                    <label>Nome do segurado</label>
                    <input type="text" class="form-control" v-model="form.segurado">
                </div>
                <div class="col-md-2">
                    <label>Nome do beneficiário</label>
                    <input type="text" class="form-control" v-model="form.beneficiario">
                </div>
                <div class="col-md-4">
                    <label>Cobertura reclamada</label>
                    <input type="text" class="form-control" v-model="form.cobertura">
                </div>
                <!--Valores-->
                <!-- <div class="col-md-2">
                    <label>Valor em US$</label>
                    <input type="text" class="form-control" v-model="form.dolar">
                </div>
                <div class="col-md-2">
                    <label>Valor em R$</label>
                    <input type="text" class="form-control" v-model="form.real">
                </div> -->
            </div>
            <!--Números-->
            <div class="row">
                <div class="col-md-2">
                    <label>Número de referência</label>
                    <input type="text" class="form-control" v-model="form.referencia">
                </div>
                <div class="col-md-2">
                    <label>Número de bilhete</label>
                    <input type="text" class="form-control" v-model="form.bilhete">
                </div>
                <div class="col-md-2">
                    <label>Número de voucher</label>
                    <input type="text" class="form-control" v-model="form.voucher">
                </div>
                <div class="col-md-2">
                    <label>Nota de débito</label>
                    <input type="text" class="form-control" v-model="form.notaDebito">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 pt-3">
                    <button class="btn btn-primary" @click="Carregar()">Buscar</button>
                    <button class="btn btn-outline-danger" @click="LimparCampos()">Limpar</button>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-md-11">
                    <table class="table table-striped table-bordered table-hover table-sm" v-if="arraySinistro.length">
                        <thead class="thead-dark">
                            <tr>
                                <th class="text-center">Numero Sinistro</th>
                                <th class="text-center">Referencia</th>
                                <th class="text-center">Nota Débito</th>
                                <th class="text-center">Segurado</th>
                                <th class="text-center">Seguradora</th>
                                <th class="text-center">Representante</th>
                                <th class="text-center">Valor</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="sinistro of arraySinistro">
                                <td>{{sinistro.NumeroSinistro}}</td>
                                <td>{{sinistro.Referencia}}</td>
                                <td>{{sinistro.NotaDebito.Nome}} </td>
                                <td>{{sinistro.Segurado.Nome}}</td>
                                <td>{{sinistro.Seguradora}}</td>
                                <td>{{sinistro.Representante}}</td>
                                <td>
                                    {{parseFloat(sinistro.ValorReal).toLocaleString('pt-BR' ,{style: 'currency', currency: 'BRL'})}}
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-info btn-sm" @click="Cadastrar(sinistro.Id)">
                                            Lançar
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../js/sinistro.js"></script>

</html>